<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credential For Users</title>
    <style>
      *,
      *:before,
      *:after {
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">Account Credentials</h1>
    <div
      style="
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
        border: 2px solid gray;
        width: 350px;
        background: pink;
        padding: 20px;
        margin-top: 20px;
      "
    >
      <p><b>Email:</b> <%= email %></p>
      <p><b>Password: </b><%= password %></p>
    </div>
  </body>
</html>
